.notes-wrapper {
  max-width: 80%;
 margin: 0 auto;
}
.notes-head {
  background-color: #999999;
  border-radius: 3px;
  color: white;
  display: flex;
  padding-left: 10px;
}

.row-wrapper {
  display: flex;
  align-items: center;
  background-color: #E8EAF5;
  margin-top: 5px;
}
.row-elem {
  padding-left: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.row-elem:nth-child(1) {
  flex-basis: 3.5%;
  padding-left: 0px;
}

.row-elem:nth-child(2) {
  flex-basis: 12%;
}

.row-elem:nth-child(3) {
  flex-basis: 8%;
}

.row-elem:nth-child(4) {
  flex-basis: 10%;
}

.row-elem:nth-child(5) {
  flex-basis: 25%;
 
}

.row-elem:nth-child(6) {
  flex-basis: 18%;
}

.row-elem:nth-child(7) {
  flex-basis: 12%;
}

.img-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
 margin-left: 5px;
}
.row-img {
  width: 40px;
}
.row-wrapper .row-name {
  color: #373739;
}
.row-wrapper span {
  color: #A5A6AE;
}

.icon {
  margin-left: 8px;
  background-color: #A9A9AE;
  width: 35px;
}

